<head>
     <link href="~/css/style-pedidos-flex.css" rel="stylesheet" type="text/css">
</head>

    <header>
        @{
            Html.RenderPartial("_HeaderNavBar");
        }
        <hgroup>
            <h1>McBonald's</h1>
        </hgroup>
    </header>

    <main>
        <h2>@ViewData["Action"] efetuado com sucesso!</h2>
    </main>


