@{
    ViewData["Title"] = "Pedidos - McBonald's";
    ViewData["H2"] = "Cadastro";
}
    <header>
        <hgroup>
            <h1>McBonald's</h1>
        </hgroup>
    </header>

    <main>
        <h2>@ViewData["H2"]</h2>
        <form enctype="multipart/form-data" method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>
            <div>
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3" name="nome" />
            </div>

            <span>@ViewData["Error"]</span>
            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" maxlength="20" minlength="3" name="email" />
            </div>


            <div>
                <label for="endereco">Endereço</label>
                <br />
                <input id="endereco" type="endereco" maxlength="20" minlength="3" name="endereco" />
            </div>

            <div>
                <label for="telefone">Telefone</label>
                <br />
                <input id="telefone" type="telefone" maxlength="20" minlength="3" name="telefone" />
            </div>

            <div>
                <label for="data-nascimento">Data de Nascimento</label>
                <br />
                <input id="data-nascimento" type="date" maxlength="20" minlength="3" name="data-nascimento" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" maxlength="20" minlength="6" name="senha" />
            </div>

            <div>
                <label for="confirmar-senha">Confirmar Senha</label>
                <br />
                <input id="confirmar-senha" type="password" maxlength="20" minlength="6" name="confirmar-senha" />
            </div>

            <div>
                <label for="foto-perfil-upload">Foto</label>
                <br />
                <input id="foto-perfil-upload" type="file" accept="image/*" name="foto-perfil" />
            </div>
            
            <input type="submit" value="Finalizar cadastro" />
            
        </form>

    </main>


