

    <main>
        <h2>Dashboard</h2>

        <section id="status-pedidos">
            <h3>Status dos pedidos</h3>
            <div id="painel">
                <div class="box-status-pedidos aprovados">
                    <h4>Aprovados</h4>
                    <p>3</p>
                </div>
                <div class="box-status-pedidos pendentes">
                    <h4>Pendentes</h4>
                    <p>3</p>
                </div>
                <div class="box-status-pedidos reprovados">
                    <h4>Reprovados</h4>
                    <p>3</p>
                </div>
            </div>
        </section>

        <section id="lista-pedidos">
            <h3>Lista de pedidos</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome</th>
                        <th rowspan="2">Endereço</th>
                        <th colspan="2">Pedido</th>
                        <th colspan="2" rowspan="2">Aprovar</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-hamburger"></i></th>
                        <th><i class="fas fa-mug-hot"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Pedidos atualizados em 04/09/2019 às 7:41</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Cesar Sportore</td>
                        <td>Rua dos bobos, n0</td>
                        <td>Furioso</td>
                        <td>Morango</td>
                        <td><a href="#"><i class="fas fa-check"></i></a></td>
                        <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                    <tr>
                        <td>Alexandre Fukaya</td>
                        <td>Rua do nada, n0</td>
                        <td>Furioso</td>
                        <td>Morango</td>
                        <td><a href="#"><i class="fas fa-check"></i></a></td>
                        <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>