<section id="logo-area">
            <img src="img/logotipo_mcbonalds.png" alt="Logotipo do McBonalds muito legal" title="logo" />
            <hgroup>
                <h1>McBonald's</h1>
                <h2>O melhor hamburguer do <img src="img/universe.png" alt="Universo" title="Steven Universe" /></h2>
            </hgroup>
        </section>