
    <main>
        <section id="banner">
            <div class="section-container">
                <p>Peça o seu
                    <br />
                    <strong class="banner_destaque">FURIOSO!</strong>
                    <br />
                    <span class="up-text">por apenas</span>
                    <strong class="banner_destaque preco">R$9,99</strong>
                </p>
                <img src="img/furioso_banner.jpg" alt="Foto do Hamburguer Furioso" title="FURIOSO!" />
            </div>
        </section>

        <section id="hamburgueres">
            <div class="section-container">
                <h2>Hamburgueres</h2>
                <div class="flex-group food-section">
                    <div class="food-container">
                        <!-- <div class="ingredients">
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                            </ul>
                        </div> -->
                        <!-- <div class="original"> -->
                            <img src="img/hamburguer_black.jpg" alt="Foto do Hamburguer Emo" title="Gótico Suave" />
                            <p>R$12,99</p>
                            <p>Black Burguer</p>
                        <!-- </div> -->
                    </div>
                    <div class="food-container">
                        <img src="img/hamburguer_combo.jpg" alt="Foto do nosso combo" title="Super combo!" />
                        <p>R$19,99</p>
                        <p>Combo da Hora</p>
                    </div>
                    <div class="food-container">
                        <img src="img/hamburguer_vegan.jpg" alt="Foto do Hamburguer Vegano" title="Não é hamburguer!" />
                        <p>R$10,99</p>
                        <p>Vegeburguer</p>
                    </div>
                    <div class="food-container">
                        <img src="img/hamburguer_vegan.jpg" alt="Foto do Hamburguer Vegano" title="Não é hamburguer!" />
                        <p>R$10,99</p>
                        <p>Vegeburguer</p>
                    </div>
                </div>
                <a href="hamburgueres.html">Clique aqui para ver todos!</a>
            </div>
        </section>

        <section id="shakes">
            <div class="section-container">
                <h2>Shakes</h2>

                <div class="flex-group food-section">
                    <div class="food-container">
                        <img src="img/shake_biscoito.jpg" alt="Foto do Milkshake sabor Biscoito ou Bolacha?"
                            title="Biscoito ou Bolacha?" />
                        <p>R$7,99</p>
                        <p>Biscoito</p>
                    </div>
                    <div class="food-container">
                        <img src="img/shake_chocolate.jpg" alt="Foto do Milkshake de chocolate, dur"
                            title="Nada de novo debaixo do Sol" />
                        <p>R$8,99</p>
                        <p>Chocolate</p>
                    </div>
                    <div class="food-container">
                        <img src="img/shake_morango.jpg" alt="Foto do Milkshake de morango, que não pode faltar!"
                            title="Mais um clichê" />
                        <p>R$9,99</p>
                        <p>Morango</p>
                    </div>
                    <div class="food-container">
                        <img src="img/shake_morango.jpg" alt="Foto do Milkshake de morango, que não pode faltar!"
                            title="Mais um clichê" />
                        <p>R$9,99</p>
                        <p>Morango</p>
                    </div>
                </div>
                <a>Clique aqui para ver todos!</a>
            </div>
        </section>

        <section id="historia">
            <div class="section-container">
                <div class="flex-group">
                    <h2>Nossa <br /> História</h2>
                    <p>Nascida da ousada ideia dos dois fundadores Alexandre Fukaya e Cesar Sportore, desde 2012, a
                        Hamburgueria
                        McBonald's vem oferecendo os melhores lanches pelos menores preços!</p>
                </div>
                <a href="#">Conte-me mais!</a>
            </div>
        </section>

        <section id="local">
            <div class="section-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
                    width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
    </main>